@charset "utf-8";
html{
    background-color: red;
}


.body 
{   position: relative;
    background-color: red;
}
.title
{
    transform: rotate(-15dig);
    text-align: center;
}
.toppageilust
{
display: block;
margin-left: auto;
margin-right: auto;
}
.description
{
    text-align: center;
}
.h2
{
    color: white;
    text-shadow: black;
}

.button
{
    align-items: center;
}