@charset "utf-8";
.conteiner
{
display:flex;
flex-wrap: wrap;
overflow: hidden;
width: 500px;

}
.character
{
    border: black 10px solid; 
    width: 60%;
    float: right;
    margin: 10px;
    
}
.title
{
    font-size: 120%;
    text-align: center;
}
.header
{
    height: 30%;
    position: relative;
    top: 300px;
    background-color: blue;
    width: 100%;
    text-align: center;

}

.ul
{
    overflow: hidden;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    z-index: 20;
}
.ul li
{
    display: inline-block;

}


