@charset "utf-8";


.dbg-Border {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
    background-color: rgba(204, 204, 204, 0.025);
}

.dbg-Border * {
    box-shadow: rgb(0, 0, 0) 0 0 0 1px inset;
    background-color: rgba(204, 204, 204, 0.025);
}


.conteiner
{
display:flex;
flex-wrap: wrap;
overflow: hidden;
width: auto;
background-color:white;


}
.character
{
    border: black 2px solid; 
    width: 110px;
    height: 110px;
    float: right;
    margin-top: 10px;
    background-color: white;
    
    
}




.title
{
    font-size: 50%;
    text-align: center;
   
    margin-bottom: 0px;
    color: red;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: red;
    
    text-shadow: 5px 1px 0 black;
}
.header
{
    
    position: fixed;
    top: 0;
    background-color:#0033b8;
    width: 100%;
    display: flex;
    padding: 16px 0;

}

.header-list
{
  display: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: #0033b8;
    width: 228px;
    text-align: center;
    
}
.header-item
{
    display: inline-block;

}

.header-link
{   display: block;
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: #000000;
    padding: 10px;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:white;
    
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
}

#g-nav li a{
	color: red;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
    background-color: #0033b8;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color:white;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

